.httpCode {
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.9em;
    color: white; 
    text-transform: uppercase;
}

.http_200 {
    background-color: #49cc90; 
}